<section id="hero">
    <div class="logo-container">
        <img src="../../assets/images/Logo-export.png" alt="TASCH logo with the name Taylor Schmidt">
        <p>Helping people turn their ideas into <b>amazing</b> web apps</p>
        <div class="btn-container">
            <a [routerLink]="['/']" fragment="contact" class="btn btn-primary">Work together</a>
            <a [routerLink]="['/']" fragment="work" class="btn btn-secondary">View work</a>
        </div>
    </div>

    <!--Waves Container-->
    <div class="waves-container">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use class="wave-1" xlink:href="#gentle-wave" x="48" y="0" />
                <use class="wave-2" xlink:href="#gentle-wave" x="48" y="3" />
                <use class="wave-3" xlink:href="#gentle-wave" x="48" y="5" />
                <!-- <use class="wave-4" xlink:href="#gentle-wave" x="48" y="7" fill="#fff" /> -->
            </g>
        </svg>
    </div>
</section>

<section id="about">
    <div class="container">
        <h1>About</h1>
    </div>
</section>

<section id="work">
    Work
    <a [routerLink]="['/project']">View Project</a>
</section>