a {
    &.btn {
        display: block;
        padding: 1rem;
        border-radius: 1.06rem;
        border: 1px solid var(--color-accent-red);
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.5s ease;

        &:hover {
            color: var(--color-background-neutral);
            background-color: var(--color-accent-red-shade);
            border-color: var(--color-accent-red-shade);
        }
    }

    &.btn-primary {
        background-color: var(--color-accent-red);
        color: var(--color-background-neutral);
    }
}
