:root {
    --caveat-font: "Caveat", cursive;
    --quicksand-font: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: var(--quicksand-font);
    margin: 0;
    padding: 0;
}

.caveat-font {
    font-family: var(--caveat-font);
}

h1.caveat-font {
    font-size: 3rem;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

@media (min-width: 768px) {
    h1.caveat-font {
        font-size: 6rem;
    }
}
